{% extends 'Home/base.html' %}

{% block title %}Posts{% endblock %}

{% block content %}

<h2 class="mb-4">📄 Posts from API (Read Only)</h2>

<div class="row">

    {% for post in posts %}

    <div class="col-md-6 mb-3">
        <div class="card shadow-sm h-100">

            <div class="card-body">

                <h5 class="card-title">
                    {{ post.title }}
                </h5>

                <p class="card-text text-muted">
                    {{ post.body }}
                </p>

                <small class="text-secondary">
                    Post ID: {{ post.id }}
                </small>

            </div>

        </div>
    </div>

    {% endfor %}

</div>

{% endblock %}
